body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 13px;
}

#menu {
  float: left;
  margin-top: 30px;
  margin-left: 20px;
  text-align: left;
  width: 150px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#menu .title {
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

#menu li {
  padding: 1px;
}

#menu li a {
  display: inline-block;
  color: #0864c7;
}

#right {
  height: 1px;
  float: right;
  display: block;
  min-width: 0;
  overflow: hidden;
  width: 200px;
  margin: 0;
  padding: 0;
}

#content {
  margin-top: 15px;
  float: left;
  width: 500px;
}

#content h1, #content h2, #content h3 {
  margin: 0;
}

#content h2 {
  margin-top: 2em;
}

#content .byline, #content .byline a, #content .note {
  font-size: 10px;
  color: #aaa;
}

#content p, #content ul {
  color: #333;
  line-height: 18px;
}

#content sup.note {
  display: inline-block;
  margin-top: -5px;
}

#content p.notop {
  margin-top: 0;
}

#content .thanks {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #eee;
  margin-bottom: 4em;
  font-size: smaller;
  color: #777;
}

#content .thanks a {
  color: #777;
}

#content li {
  margin-bottom: 0.7em;
}

.post + .post {
  margin-top: 50px;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub {
  top: 0.4em;
}

/* table {
	border-collapse: collapse;
} */
/*
table, th, td {
  border: 1px solid lightgray;
}

tr:nth-child(even) {
	background-color: #f7f7f7;
}

th {
	background-color: #efefef;
} */

th, td {
	padding: 6px;
}

table {
  padding-bottom: 10px;
}

a:visited {
  color: blue;
}

/* .math {
  indentalight: center;
} */
