<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/style.css">
  <meta charset="utf-8">
  <title>$if(title)$$title$ · $endif$Vivek Raja</title>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  $if(code)$$code$$endif$
  $if(math)$$math$$endif$
</head>

<body>
  <div id="nav-placeholder"></div>

  <div id="content">
    $body$
  </div>

  <h3>1. Building Abstractions with Procedures</h3>
  <div id="sicp_ch1_table"></div>
  <h3>2. Building Abstractions with Data</h3>
  <div id="sicp_ch2_table"></div>
  <h3>3. Modularity, Objects, and State</h3>
  <div id="sicp_ch3_table"></div>
  <h3>4. Metalinguistic Abstraction</h3>
  <div id="sicp_ch4_table"></div>
  <h3>5. Computing with Register Machines</h3>
  <div id="sicp_ch5_table"></div>

  <script type="text/javascript">
    $$(function () {
      var i;
      nb_sicp_chapters = 5
      for (i = 1; i <= nb_sicp_chapters; ++i) {
        $$(`#sicp_ch$${i}_table`).load(`/static/sicp_ch$${i}_table.html`);
      }
    });
  </script>

  <script type="text/javascript">
    $$(function () {
      $$("#nav-placeholder").load("/nav.html");
    });
  </script>
</body>

</html>
